body{
    margin: 0;
}
.subject {
    display: flex;
    /*height: 100px;*/
    font-size: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*margin-block-start: 25px;
    margin-block-end: 25px;*/
    margin: 50px 0;
}
div {
    text-align: left;
}
