header{
    text-align: left;
    font-size: 48px;
    margin: 0;
    border-bottom: 5px solid #aaaaaa50;
}
.subject {
    display: flex;
    /*height: 100px;*/
    font-size: 111px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*margin-block-start: 25px;
    margin-block-end: 25px;*/
    margin: 50px 0;
}
div {
    text-align: left;
}
