body{
    margin: 0;
}
header{
    height: 50px;
    margin: 0;
    background-color: #22cc00;
    border: 1px solid #00F;
}
.hedL{
    display: flex;
    margin: 0;
    width: 170px;
    height: 50px;
    font-size: 35px;
    color: #4286f5;
    background-color: #fff;
    text-align: center;
    align-content: space-around;
    justify-content: center;
}
h1{
    display: flex;
    background-color: #fff;
}
.L-pic{
    height: 100px;
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #ff0000;
    align-content: space-around;
}
.subtitle{
    display: flex;
    height: 50px;
    margin: 25px 0;
    text-align: center;
    align-content: center;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 50px;
    color: #4286f5;
}
.context{
    display: flex;
    margin: 8px;
    font-family: cursive;
    justify-content: center;
}