header{
    height: 50px;
    margin: 0;
    background-color: #22cc00;
    border: 1px solid #00F;
}
.hedL{
    display: flex;
    margin: 0;
    width: 170px;
    height: 50px;
    font-size: 35px;
    color: #4286f5;
    background-color: #fff;
    text-align: center;
    align-content: space-around;
    justify-content: center;
}