body{
    margin: 0;
    padding-top: 52px;
}
header{
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: #22cc00;
    border: 1px solid #00F;
}
.hedL{
    display: flex;
    margin: 0;
    width: 170px;
    height: 50px;
    font-size: 35px;
    color: #4286f5;
    background-color: #fff;
    text-align: center;
    align-content: space-around;
    justify-content: center;
}
h1{
    display: flex;
    background-color: #fff;
}
.L-pic{
    height: 100px;
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #ff0000;
    align-content: space-around;
}
.subtitle{
    display: flex;
    height: 50px;
    margin: 25px 0;
    text-align: center;
    align-content: center;
    font-family: "Times New Roman";
    font-weight: normal;
    font-size: 50px;
    color: #4286f5;
}
.context{
    display: flex;
    margin: 8px;
    font-family: cursive;
    justify-content: center;
}
h2{
    width: 100%;
    margin: 0;
    font-family: "MS Mincho",serif;
    text-align: center;
    font-size: 80px;
}
.announcements{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.advertising{
    display: flex;
    margin: 0 20px;
    padding: 0 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.ads{
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.border{
    width: 100%;
    height: 3px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #888888;
}
.icon{
    width: 50px;
    height: 50px;
}
.text{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: "Yu Gothic",monospace;
    font-weight: 500;
}
/*.links{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100px;
}*/
.downlight{
    text-decoration: none;
    color: black;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    margin: 0;
    align-items: center;
    background-color: #e7e7e7;
}
.attribution{
    width: 100%;
    margin: 3px 0;
    font-size: 8px;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .L-pic{
        width: 20%;
        height: auto;
        margin-left: 20px;
        margin-right: 15px;
        border-radius: 50%;
        border: 2px solid #ff0000;
        align-content: space-around;
    }
    .subtitle{
        margin: 25px 5px;
    }
    .links{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
    }
}
@media screen and (min-width: 501px) {
    .links{
        display: flex;
        align-items: center;
        width: 25%;
        height: 100px;
    }
}
