body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.wordy {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.TPS {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 5%;
    font-size: small;
}

.text {
    text-align: center;
    font-size: 30px;
}

.colored {
    color: #b20;
}

.container {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.key_container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.key {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    background-color: lightsalmon;
    border-radius: 5px;
}

.F,
.J {
    text-decoration: underline;
}

.keyPress {
    background-color: saddlebrown;
}