body{
    margin: 0;
    padding-top: 102px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 0;
    left: 0;
    background-color: #55bb66;
    border: 1px solid darkblue;
    z-index: 1;
}
.L-pic{
    margin: 23px;
    width: 50px;
    height: 50px;
    border: 2px solid #aa4433;
}

.main{
    width: 80%;
    display: flex;
    right: 0;
}
.attention{
    margin: 10px;
    padding: 5px;
    width: 400px;
    height: 46px;
    text-align: center;
    color: white;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #ffff00;
}
.dictionaly{
    padding: 17px;
    width: 100%;
}
.word{
    margin: 7px;
    padding-left: 3.5em;
    font-size: 40px;
    text-align: left;
    color: #000101;
    background-color: #fffefe;
    border-radius: 9px;
}
.expression{
    margin-left: 42px;
    text-align: left;
    font-size: 22px;
    color: #151;
}

.right{
    left: 0;
    width: 20%;
    background-color: #eeeeff;
}
.component{
    padding: 0;
    list-style: none;
}
.headline{
    font-size: medium;
    font-weight: bolder;
    color: #444444;
}
.rotate{
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transform: rotate(-90deg);
}
.rotate.close{
    transform: rotate(0deg);
}
.subtitle{
    display: none;
    text-decoration: none;
    list-style: japanese-formal;
}

footer{
    width: 100%;
    height: 150px;
}
